:root {
    --odin-blue: #247BA0;
    --odin-black: #0a0908;
    --odin-platinum: #E6E6E9;
    --odin-gold: #F1C40F;
    --odin-amaranth: #AF1B3F;
}
html,body{
    padding: 0;
    margin: 0;
    border: 0;
}
header{
    width: 100%;
    padding: 1rem;
    background-color: var(--odin-gold);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  background-color: var(--odin-blue);
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 1rem;
}
main{
    width:80%;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: var(--odin-platinum);
}
main h2{
    text-align: center;
    font-size: 1.1rem;
}
main p{
    font-size: 1.1rem;
    text-align: justify;
}
footer{
    max-height: 50px;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: center;
    background-color: var(--odin-amaranth);
    color:var(--odin-platinum);
}
.wrapper{
    display: flex;
    background-color: var(--odin-platinum);
    margin: 0;
    border: 0;
    height: 100dvh;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

